<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brightplan.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />

    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
    </feature>
    <name>BrightPlan</name>
    <description>
        Plan and Invest for a Brighter Future
    </description>
    <author email="info@brightplan.com" href="http://cordova.io">
        Team BrightPlan
    </author>
    <content src="https://bpsbox1-brightplan.cs10.force.com/BrightPlanMobile" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="gap:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="gap:*" />
    </platform>
    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="true" />
    <plugins>
        <plugin name="InAppBrowser" value="CDVInAppBrowser" />
    </plugins>
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="OverrideUserAgent" value="BrightPlanMobileApp" />
    <preference name="stay-in-webview" value="true" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.device" />
    
</widget>
